.parent {
  background: linear-gradient(45deg, #ff4ea0, #0043ff);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-weight: 700;
  padding: 1rem;
  box-shadow: 0 2px 30px rgb(0 0 0 / 50%);
  margin-bottom: 4rem;
  transform-style: preserve-3d;
}
.child {
  background: linear-gradient(45deg, #4effef, #0014ff);
  width: 200px;
  font-weight: 700;
  height: 200px;
  border-radius: 10px;
  position: relative;
  top: 30px;
  left: 30px;
  padding: 1rem;
  box-shadow: 0 2px 30px rgb(0 0 0 / 50%), 0 0 0 1px rgba(0, 0, 0, 0.05);
  transform: translateZ(-10px);
}

.myButton {
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
}
.myButton:active {
  position: relative;
  top: 1px;
}

.grid-containerWater {
  display: grid;
  grid-template-areas:
    "left left   right right"
    "left2 left2 right2 right2";
}

.leftArea {
  grid-area: left;
}
.rightArea {
  grid-area: right;
}

.left2Area {
  grid-area: left2;
}

.right2Area {
  grid-area: right2;
}

.trashHover {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/50px-Search_Icon.svg.png"),
    auto;
}
/* snake  */
.grid-container-snake {
  display: grid;
  grid-column: 2;
}

.snakeArea {
  grid-area: leftSnake;
}

.treeArea {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}
