.grid-container {
  display: grid;
  grid-template-areas: "main main main main  right right right right";
  gap: 10px;
  padding: 10px;
}
.mainArea {
  grid-area: main;
}

.grid-container-trashcan {
  display: grid;
  grid-template-areas:
    "first second"
    "third fourth";
}

.firstTrashcanArea {
  grid-area: first;
}

.thirdTrashcanArea {
  grid-area: third;
}

.fourthTrashcanArea {
  grid-area: fourth;
}

.rightArea {
  grid-area: right;
}
#folders {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
#folders > article {
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  line-height: 4rem;
  transition: all 100ms ease-out;
}
#folders > article:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  cursor: pointer;
}
