.background {
  width: 100%;
  height: 100%;
  background: url("../../assets/images/sachonline/2122.png") no-repeat center;
  background-size: 100%;
  height: 700px;
  object-fit: cover;
}
@-webkit-keyframes scaling {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
.elementAnimation {
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}
